<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
		integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous" />
	<link rel="stylesheet" href="/styles/layout.css" />
	<link rel="stylesheet" href="/styles/main.css" />
	<link rel="stylesheet" href="/styles/sub.css" />
	<title><%= sub %></title>
</head>

<body>

	<div class="status-bar">
		<% if (user && user !== null) { %>
		<%- include ("../public/statusOut.html") %>
		<% } else { %>
		<%- include ("../public/statusIn.html") %>
		<% } %>
	</div>
	<header class="header"><%- include ("../public/header.html") %></header>
	<nav class="nav"><%- include ("../public/nav.html") %></nav>
	<main>
		<% if (sub === "Main") { %>
		<%- include ("layout/main.ejs") %>
		<% } else { %>
		<%- include ("layout/sub.ejs") %>
		<% } %>
	</main>
	<footer class="footer"><%- include ("../public/footer.html") %></footer>
	<script>
		var cookies = document.cookie;
		var cookieArr = cookies.split("; ");
		console.log(cookieArr);
		cookieArr.forEach((c) => {
			if (c.substring(0, 4) === "user") {
				console.log(c);
				var user = c.substring(5, c.length);

			}
		})

		// console.log(document.querySelector("title").innerText);
		// let status = document.querySelector(".status-bar");

		// status.addEventListener("load", () => {
		// 	let xhr = new XMLHttpRequest();
		// 	xhr.open("GET", "/status");
		// 	xhr.send();
		// })

	</script>
	<script class="switch"></script>
	<script>
		let switchScript = document.querySelector(".switch");

		switch ("<%= sub %>") {
			case "Gallery":
				switchScript.src = "/galleryScript.js";
				break;
			case "Post":
			case "Edit":
				switchScript.src = "/postScript.js";
				break;
			case "Main":
				switchScript.src = "/mainScript.js";
				break;
		}
	</script>

</body>

</html>