<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
        integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous" />
    <link rel="stylesheet" href="/styles/layout.css" />
    <link rel="stylesheet" href="/styles/sub.css" />
    <title><%= sub %></title>

</head>

<body>
    <div class="status-bar"><%- include ("../public/status.html") %></div>
    <header class="header"><%- include ("../public/header.html") %></header>
    <nav class="nav"><%- include ("../public/nav.html") %></nav>
    <main>
        <div class="post">
            <div class="post__title">
                <span></span>
            </div>
            <div class="post__information">
                <span class="post__information--date"></span>
                <span class="post__information--author"></span>
            </div>
            <div class="post__contents">
                <img src="" alt="" class="post__contents--img">
                <img src="" alt="" class="post__contents--text">
            </div>
            <div class="post__btns">
                <button class="post__btns--board"></button>
                <button class="post__btns--delete"></button>
                <button class="post__btns--update"></button>
            </div>
        </div>
    </main>

    <footer class="footer"><%- include ("../public/footer.html") %></footer>
</body>

</html>