<section class="sub__img-section">
    <div class="sub__img-section--img">
        <% switch (sub) { 
            case "Introduction": %>
        <% case "Way": %>
        <img src="/images/menu1.JPG" alt="" />
        <% break; %>
        <% case "Admit": %>
        <% case "Space": %>
        <img src="/images/menu2.JPG" alt="" />
        <% break; %>
        <% case "Notice": %>
        <% case "Gallery": %>
        <% case "Gallery Detail": %>
        <% case "Notice Detail": %>
        <% case "Post": %>
        <img src="/images/menu3.JPG" alt="" />
        <% break; %>
        <% case "Agency": %>
        <img src="/images/menu4.JPG" alt="" />
        <% break; %>
        <% case "Admin": %>
        <% case "Admin Users": %>
        <% case "Admin Posts": %>
        <img src="/images/cat9.JPG" alt="" />
        <% break; %>
        <% } %>
    </div>
    <div class="sub__img-section--text">
        <div class="sub__img-section--headline">
            <span>메인 > <%= path %></span>
            <span><%= headline %></span>
        </div>
    </div>
</section>
<section class="sub__contents-section">

    <% switch (sub) { 
        case "Introduction": %>
    <%- include ("../../public/contents/introduction.html") %>
    <% break; %>
    <% case "Way": %>
    <%- include ("../../public/contents/way.html") %>
    <% break; %>
    <% case "Admit": %>
    <%- include ("../../public/contents/admit.html") %>
    <% break; %>
    <% case "Space": %>
    <%- include ("../../public/contents/space.html") %>
    <% break; %>
    <% case "Agency": %>
    <%- include ("../../public/contents/agency.html") %>
    <% break; %>
    <% case "Gallery Detail": %>
    <%- include ("postView.ejs") %>
    <% break; %>
    <% case "Notice Detail": %>
    <%- include ("postView.ejs") %>
    <% break; %>
    <% case "Post": %>
    <%- include ("post.ejs") %>
    <% break; %>
    <% case "Join": %>
    <%- include ("join.ejs") %>
    <% break; %>
    <% case "Edit": %>
    <%- include ("edit.ejs") %>
    <% break; %>
    <% case "Admin": %>
    <%- include ("../../public/admin.html") %>
    <% break; %>
    <% case "Admin Users": %>
    <%- include ("../users.ejs") %>
    <% break; %>
    <% case "Admin Posts": %>
    <%- include ("../posts.ejs") %>
    <% break; %>
    <% case "Notice": %>
    <%- include ("board.ejs") %>
    <%- include ("../../public/page.html") %>
    <% break; %>
    <% case "Gallery": %>
    <%- include ("board.ejs") %>
    <%- include ("../../public/page.html") %>
    <% break; %>
    <% } %>
</section>