<div class="posts-table">
    <div>
        <button onclick="location.href='/admin'"><i class="fas fa-home"></i> 메인</button>
        <table class="posts-table__statics">
            <tr class="posts-table__statics--columns">
                <th>총 게시글</th>
                <th>공지사항</th>
                <th>갤러리</th>
            </tr>
            <tbody class="posts-table__statics--datas">
                <td><%= count %></td>
                <td><%= categories.notice %></td>
                <td><%= categories.gallery %></td>

            </tbody>
        </table>
    </div>
    <table class="posts-table__table">
        <tr class="posts-table__table--columns">
            <th>번호</th>
            <th>분류</th>
            <th>제목</th>
            <th>작성일</th>
            <th>삭제</th>
        </tr>
        <tbody class="posts-table__table--datas">
            <% for (i = 0; i < posts.length; i++) { %>
            <tr>
                <td><%= posts[i].postId %></td>
                <td><%= posts[i].category %></td>
                <td><%= posts[i].title %></td>
                <td><%= posts[i].created_at %></td>
                <td>
                    <form action="/admin/posts/<%= posts[i].postId %>/delete?_method=DELETE" method="POST"
                        name="delForm">
                        <button onclick="confirmDelPost()">삭제</button>
                    </form>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
</div>