<% const imageDir = "/image" %>
<% const publicContentDir = "../../public/content/" %>
<% const componentDir = "../component/" %>

<section class="sub__img-section">
    <div class="sub__img-section--img">
        <% switch (sub) { 
            case "Introduction": %>
        <% case "Way": %>
        <img src="<%= imageDir %>/menu1.jpg" alt="메뉴이미지1" />
        <% break; %>
        <% case "Admit": %>
        <% case "Space": %>
        <img src="<%= imageDir %>/menu2.jpg" alt="메뉴이미지2" />
        <% break; %>
        <% case "Notice": %>
        <% case "Gallery": %>
        <% case "Gallery Detail": %>
        <% case "Notice Detail": %>
        <% case "Post": %>
        <img src="<%= imageDir %>/menu3.jpg" alt="메뉴이미지3" />
        <% break; %>
        <% case "Agency": %>
        <img src="<%= imageDir %>/menu4.jpg" alt="메뉴이미지4" />
        <% break; %>
        <% case "Join": %>
        <% case "Admin": %>
        <% case "Edit": %>
        <% case "Admin Users": %>
        <% case "Admin Posts": %>
        <img src="<%= imageDir %>/cat9.jpg" alt="메뉴이미지5" />
        <% break; %>
        <% } %>
    </div>
    <div class="sub__img-section--text">
        <div class="sub__img-section--headline">
            <span>메인 > <%= path %></span>
            <span><%= headline %></span>
        </div>
    </div>
</section>
<section class="sub__contents-section">

    <% switch (sub) { 
        case "Introduction": %>
    <%- include (publicContentDir + "introduction.html") %>
    <% break; %>
    <% case "Way": %>
    <%- include (publicContentDir + "way.html") %>
    <% break; %>
    <% case "Admit": %>
    <%- include (publicContentDir + "admit.html") %>
    <% break; %>
    <% case "Space": %>
    <%- include (publicContentDir + "space.html") %>
    <% break; %>
    <% case "Agency": %>
    <%- include (publicContentDir + "agency.html") %>
    <% break; %>
    <% case "Gallery Detail": %>
    <% case "Notice Detail": %>
    <%- include ("postView.ejs") %>
    <% break; %>
    <% case "Post": %>
    <%- include ("post.ejs") %>
    <% break; %>
    <% case "Join": %>
    <%- include ("join.ejs") %>
    <% break; %>
    <% case "Edit": %>
    <%- include ("edit.ejs") %>
    <% break; %>
    <% case "Admin": %>
    <%- include (publicContentDir + "admin.html") %>
    <% break; %>
    <% case "Admin Users": %>
    <%- include ("userAdmin.ejs") %>
    <% break; %>
    <% case "Admin Posts": %>
    <%- include ("postAdmin.ejs") %>
    <% break; %>
    <% case "Notice": %>
    <% case "Gallery": %>
    <%- include (componentDir + "board.ejs") %>
    <%- include (componentDir + "page.ejs") %>
    <% break; %>
    <% } %>
</section>